<div class="pokemon-info">
  <p>Showing 30 pokemons of {{pokemons.count}}. Starting from {{pokemonIndexStart}} to
    <span *ngIf="pokemonIndexEnd< pokemons.count">{{pokemonIndexEnd}}</span>
    <span *ngIf="pokemonIndexEnd> pokemons.count">{{pokemons.count}}</span>
  </p>
  <p class="mat-error">
    {{errorMessage}}
  </p>
</div>
<div class="pokemon-list">
  <app-pokemon-card class="pokemon-item" *ngFor="let item of pokemons.results | pokemonFilter : searchedPokemon"
                    (click)="goToPokemonDetail(item.name)"
                    [pokemonName]="item.name">
  </app-pokemon-card>
</div>
<div class="pokemon-buttons">
  <button mat-button color="primary" (click)="getPokemonsPreviousPage(pokemons.previous)"
          [disabled]="pokemons.previous === null">previous
  </button>
  <button mat-button color="primary" (click)="getPokemonsNextPage(pokemons.next)" [disabled]="pokemons.next === null">
    next
  </button>
</div>
