@import "../../../assets/styles/variables";

.navigation-menu {
  background-color: $menu-color-main;
  height: 60px;
  width: 100%;

  @media screen and (max-width: $breakpoint-desktop){
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      min-width: 120px;

      @media screen and (max-width: $breakpoint-desktop){
        display: initial;
        width: 100%;
      }
    }
  }

  .menu-title {
    border-right: 1px solid $menu-color-secondary;
    color: $menu-color-secondary;
    line-height: 60px;
    margin: 0 auto;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-desktop){
      border-right: none;
    }
  }

  a {
    background-color: $menu-color-main;
    border-right: 1px solid $menu-color-secondary;
    color: $menu-color-secondary;
    display: block;
    line-height: 60px;
    margin: 0 auto;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    width: 100%;

    &:hover {
      cursor: pointer;
      background-color: $menu-color-hover;
    }

    &.active {
      background-color: $menu-color-active;
    }
  }
}
