$menu-color-main: #000000;
$menu-color-secondary: #fff;
$main-color-text: #fff;
$menu-color-hover: #605E5E;
$menu-color-active: #605E5E;
$item-background: #eff8ff;
$section-header: #0A9130;
$info-text: #605E5E;
